<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <context:property-placeholder location="classpath:conf/*.properties" />

    <context:annotation-config />
    <!--<bean id="sms" class="com.matro.msg.wechat.WechatTempPushlet"></bean>-->
    <context:component-scan base-package="com.matro"/>
    <!-- 支持异步方法执行 -->
    <task:annotation-driven/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close" p:minPoolSize="${jdbc.pool.minsize}"
          p:maxPoolSize="${jdbc.pool.maxsize}">
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="idleConnectionTestPeriod" value="${jdbc.test.idleconnectiontestperiod}" />
        <property name="preferredTestQuery" value="${jdbc.test.sql}" />
        <property name="jdbcUrl" value="${db1.jdbc.url}" />
        <property name="user" value="${db1.jdbc.username}" />
        <property name="password" value="${db1.jdbc.password}" />
    </bean>

    <bean id="dynamicDataSource" class="com.matro.common.DynamicDataSource" >
        <!-- 通过key-value的形式来关联数据源 -->
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry value-ref="dataSource" key="dataSource"></entry>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSource" >
        </property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="dbTaker" class="com.matro.msg.source.DBTaker">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <!--全局同步锁文件路径,linux下请配置可访问的目录-->
        <property name="lockFilePath" value="${sms.lockfile}"/>
        <!--每次抓取的消息数目，不配置，则默认100-->
        <property name="takeSize" value="500"/>
    </bean>

    <!--公众号的Token持有器配置，有多少个公众号id就需要配置多少个TokenHolderFactory Bean-->
    <bean id="5" class="com.matro.msg.wechat.TokenHolderFactory">
        <property name="holder">
            <bean class="com.matro.msg.wechat.TokenHold">
                <property name="fetchTokenUrl" value="${fetchtoken.url}"/>
                <property name="wxid" value="${wxid}"/>
            </bean>
        </property>
    </bean>

    <!--默认的公众号的Token持有器配置-->
    <bean id="defaultWechatToken" class="com.matro.msg.wechat.TokenHolderFactory">
        <property name="holder">
            <bean class="com.matro.msg.wechat.TokenHold">
                <property name="fetchTokenUrl" value="${fetchtoken.url}"/>
                <property name="wxid" value="${wxid}"/>
            </bean>
        </property>
    </bean>

    <!--pushlet配置，id为消息类型-->
    <bean id="wechat" class="com.matro.msg.wechat.WechatTempPushlet">
        <!--消息点击的默认的url地址-->
        <property name="clickUrl" value="http://m.matrojp.com/"/>
    </bean>
    <bean id="gwechat" class="com.matro.msg.wechat.GroupWechatPushlet"></bean>
    <bean id="sms" class="com.matro.msg.sms.SmsPushlet">
        <!--手机短信-->
        <property name="channels">
            <map>
                <entry key="CHANNEL_NOTICE" value="http://58.210.96.233/port/insertMessage.asp?"/><!--通知、验证码类短信通道-->
                <entry key="CHANNEL_ACTIVY" value="http://58.210.96.233/sms/insertjt.asp?"/><!--活动类短信通道-->
            </map>
        </property>
        <property name="username" value="mlqqjpg"/>
        <property name="password" value="jp5810"/>
    </bean>

    <!--测试pushlet-->
    <bean id="test" class="com.matro.msg.TestPushlet"/>


    <!--进程需要使用此服务运行抓取消息[使用注解注入]-->
    <!--<bean id="msgService" class="com.matro.MsgService">-->
        <!--<property name="dbTaker" ref="dbTaker"/>-->
    <!--</bean>-->
</beans>